<template>
  <div>
    <!-- Селектор для вибору статі -->
    <span>Фільтр по статі</span>
    <select class="filteres" v-model="selectedGender">
      <option value="all">Всі</option>
      <option value="male">Чоловіки</option>
      <option value="female">Жінки</option>
      <option value="unisex">Унісекс</option>
    </select>
  </div>
  <div class="Product-card">
    <div class="card-prod" v-for="filteredProducts in filteredProducts" :key="filteredProducts.name">
      <img :src="filteredProducts.imgSrc" @click="openProduct(filteredProducts)" alt="product.name" class="product-image"/>
      <div class="product-name">{{ filteredProducts.name }}</div>
      <div class="product-price">{{ filteredProducts.price }}</div>
    </div>
    <div v-if="showModal" class="modal">
      <div class="modal-content">
        <span class="close" @click="showModal=false">&times;</span>
        <img :src="selectedProduct.imgSrc" alt="selectedProduct.name" class="product-image"/>
        <div class="product-name">{{ selectedProduct.name }}</div>
        <div class="product-price">{{ selectedProduct.price }}</div>
        <div class="product-description">{{ selectedProduct.description }}</div>
        <div class="product-size">
          <button class="size">M</button>
          <button class="size">L</button>
          <button class="size">XS</button>
          <button class="size">XL</button>
        </div>
        <button class="buy-btn" @click="buyProduct(selectedProduct)">Купити</button>
      </div>
    </div>
  </div>
</template>

<script setup>

import { useCartStore } from "@/store/cart";
import { ref ,computed} from 'vue';
import {products} from "@/products";
const count = ref(0);
defineExpose({
  count
});

const cartStore = useCartStore()

const selectedProduct = ref(null);
const showModal = ref(false);


const selectedGender = ref('all'); // all, male, female, unisex

const filteredProducts = computed(() => {
  if (selectedGender.value === 'all') {
    return products.value;
  } else {
    return products.value.filter(product => product.gender === selectedGender.value);
  }
});

// Оновлення для productStyles, щоб використовувати filteredProducts замість products
const productStyles = computed(() => {
  return filteredProducts.value.map((_, index) => {
    // ваш код для стилів
  });
});

const currentSlide = ref(0);

const nextSlide = () => {
  currentSlide.value = (currentSlide.value + 1) % filteredProducts.value.length;
};

const prevSlide = () => {
  currentSlide.value = (currentSlide.value - 1 + filteredProducts.value.length) % filteredProducts.value.length;
};
function openProduct(products) {
  selectedProduct.value = products;
  showModal.value = true;
}
function buyProduct(product) {



  cartStore.addToCart(product)

  showModal.value = false;}

</script>

<style  scoped>
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
.filteres {
  margin: 15px;
  color: #3d320d;
  width: 150px;
  background: #b6971a;

}
.product-size{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.size:hover{
  background: #4CAF50;
}
.size{
  background: #b6971a;
  border: #b6971a;
  width: 50px;
  border-radius:50% ;
}
span{
  color: #b6971a;
}

.card-prod{
  font-family:"Caveat";
  border: 2px solid black;
  //width: 25%;
  border-radius: 8px;
  background-color: white;

}
.Product-card {

  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  text-align: center;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}
.product-image:hover{
  transform: scale(1.1);
}
.product-image {
  width: 60%;
  height: auto;
  margin-bottom: 8px;
}
.product-name {
  font-size: 18px;
  margin-bottom: 4px;
  color: #b6971a;
}
.product-price {
  font-size: 16px;
  color: #b6971a;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;

  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
}

.modal-content {
  font-family:"Caveat";
  font-size: 24px;
  color: #fffefe;
  background-color: #282305;
  margin: 20px 25%;
  padding: 20px;
  border: 1px solid #888;
  height: 600px;
  width: 500px;
  border-radius: 10px;
  //width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.buy-btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.buy-btn:hover {
  background-color: #b6971a;
}
</style>

