<template>
  <div class="prod">
  <div class="roduct-card" v-for="item in cartItems" :key="item.name">
    <img :src="item.imgSrc" alt="" class="product-image">
    <div class="product-info">
      <h3>{{ item.name }}</h3>
      <p>{{ item.description }}</p>
      <p>{{ item.price }}</p>
      <p>Gender: {{ item.gender }}</p>
      <button @click="removeItem(item.name)" type="button">Видалити</button>
    </div>
  </div>
  </div>

</template>
<script setup>
import {products} from "@/products";
import { useCartStore } from "@/store/cart";
import {storeToRefs} from "pinia";

const cartStore = useCartStore()
const { cartItems } = storeToRefs(cartStore)
function removeItem(itemName) {
  cartStore.removeFromCart(itemName);
}
</script>
<style >
.roduct-card {
  width: 350px;
  height: 350px;
justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #b6971a;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.product-image {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}

.product-info h3 {
  margin: 0;
  padding: 0;
}

.product-info p {
  margin: 5px 0;
}
.prod{
  background-image: url(../../src/img/nike.jpeg);

  width: 100%;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;

}
</style>
