<template>
  <div id="map" style="height: 500px;"></div>
  <main>
  <p >Адрес :</p>
    <p>ТРЦ "КVARTAL"</p>
  <p>М.Хмельницький Кам'янецька вулиця, 17, Хмельницький, Хмельницька область, 29000</p>
    <p>0630405400</p>
  </main>

</template>

<script setup>
import { onMounted } from 'vue';
import L from 'leaflet';
import 'leaflet/dist/leaflet.css';

onMounted(() => {
  const map = L.map('map').setView([49.428510, 26.979884], 13);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
  }).addTo(map);
  const markerCoordinates = [49.428510, 26.979884]; // Координати для маркера
  const marker = L.marker(markerCoordinates).addTo(map);

  // Додавання підказки до маркера (необов'язково)
  marker.bindPopup('Ми тут!').openPopup();
});

import Navigation from "@/components/Navigation.vue";

</script>


<style scoped>
p{
  font-size: 20px;
  color: #b6971a;
}
</style>