<template>
  <header class="headers">

    <p> SAMMER.IN</p>
    <p class="routers">
      <router-link to="/">Home</router-link>
      |
      <router-link to="/product">Product</router-link>
      |
      <router-link :to="{ name: 'about' }">Slide</router-link>
      |
      <router-link to="/testimonials">Location</router-link>
    </p>
      <router-link :to="{ name: 'shop' }">SHOP NOW</router-link>



  </header>
</template>

<script setup>
// @ is an alias to /src
</script>
<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
button {
  background: #282305;
  border: none;
  border-radius: 10px;
}

.headers {
  border-bottom: 1px solid #282305;
  box-shadow: 5px 5px 10px rgba(56, 48, 15, 0.85);
  font-weight: bold;
  color: #b6971a;
  padding: 15px;
  display: flex;
  justify-content: space-between
}
.routers {
  a {
    font-family:Permanent+Marker ;
    font-weight: bold;
    color: #b6971a;
    text-decoration-line: none;
    padding: 0px 10px 0 10px;
  }
}
a:hover {
  color: red;
}
div {;
  a {
    font-weight: bold;
    color: #b6971a;
    text-decoration-line: none;
  }
}


</style>