<template>
  <Header/>

<main>
  <router-view/>
</main>

  <Footer/>
</template>

<style lang="scss">
body{
  box-sizing: border-box;
  margin: 0;
}
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.91);
  height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}
main {
  flex: 1;
}
</style>
<script setup>
import Footer from "@/components/Footer.vue";
import Header from "@/components/Header.vue";
</script>