@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
button:hover{
    background: #b6971a;
    box-shadow: 5px 5px 5px #3d320d ;
}
button{
    font-family:"Caveat";
    background: #504210;
    font-size: 20px;
    width: 150px;
    height: 50px;
}
.slider-container {
    font-family:"Caveat";
    font-size: 2.1em;
    color: #b6971a;
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 800px;

}

.product-card {
    border: 2px solid #3d320d;
    border-radius: 25px;
    position: absolute;
    margin: 25px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50% )scale(1.4%);
    transition: all 0.5s ease;
    will-change: transform; /* Покращення продуктивності анімації */
    opacity: 0;
}

.product-image {
    width: 100%;
    max-width: 700px; /* Або інший розмір, який вам потрібен */
    height: auto;
    background-color: white;
    border-radius: 10px;
}
